{
	"tidytoken": "TidyHQ authentication token",
	"slack_webhook": "",
    "urls": {"contacts": "https://api.tidyhq.com/v1/contacts",
        "fields": "https://api.tidyhq.com/v1//custom_fields",
		"memberships": "https://api.tidyhq.com/v1//memberships",
		"membership_levels": "https://api.tidyhq.com/v1/membership_levels",
		"invoices": "https://api.tidyhq.com/v1/invoices"},
	"tokens": ["List of authentication tokens",
		"DEMO CLIENT"
	],
	"server": {
		"address": "0.0.0.0",
		"port": 8080,
		"debug": true
	},
	"ids": {
		"status": "Custom field ID for tag status",
		"tag": "Custom field ID for tag ID",
		"sound": "Custom field ID for tag sound",
		"enabled": "Custom value ID for enabled key",
		"drink": "Custom field ID for preferred drink",
		"locker": "Custom field ID for locker assignment",
		"membership status": "Custom field ID for membership approval status",
		"membership approval": "Custom value ID for approved membership"
	}
}