{
	"tidytoken": "TidyHQ authentication token",
	"contacts_url": "https://api.tidyhq.com/v1/contacts",
	"tokens": ["List of authentication tokens",
			   "DEMO CLIENT"],
	"server": {"address":"0.0.0.0",
               "port":8080},
	"ids": {
		"status": "Custom field ID for tag status",
		"tag": "Custom field ID for tag ID",
		"sound": "Custom field ID for tag sound",
		"enabled": "Custom value ID for enabled key",
		"drink": "Custom value ID for preferred drink"
	}
}